.formOne {
  text-align: center;
  margin-top: 200px;
  font-size: 30px;
}
body {
  background-color: #99c2c7;
}
#answers {
  text-align: center;
  color: black;
  font-style: bold;
  font-size: 30px;
  margin-top: 30px;
}
h1{
  text-align: center;
  margin-top: 60px;
}
